@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: 'Nunito', sans-serif;
}
p{
    font-size: 15px;
    color: #494949;
    line-height: 1.733;
}
.subtitle{
    color: #fad126;
    font-size: 20px;
    margin-bottom: 30px;
}
.title{
    font-size: 35px;
    line-height: 1.343;
    font-weight: 700;
    color: #161616;
}
.content-title{
    font-size: 20px;
    color: #070c2d;
}
.bttn{
    color: #fff;
    padding: 20px 35px;
    font-size: 16px;
    font-weight: 600;
    background: linear-gradient(to right, #fad126, #ff544f);
    border-radius: 10px;
    display: inline-block;
    transition: 0.4s;
}
.bttn:hover{
    opacity: 0.7;
    color: #fff;
}
.section-padding{
    padding: 75px 0;
}

/* Hero area Start */
.hero-area{
    padding: 150px 0;
    background-color: #2a6dfc;
}
.main-heading{
    font-size: 48px;
    line-height: 1.25;
    color: #fff;
    font-weight: 900;
}
/* Hero area End */

/* Feature Area Start */
.feature-title-area{
    margin-bottom: 70px;
    
}
.single-feature{
    background: #2a6dfc;
    border-radius: 5px;
    padding: 60px 35px;
    margin-bottom: 24px;
}
.single-feature p{
    color: #edeff3;
}
.feature-absulote-image-1 {
    position: absolute;
    top: 10%;
    left: -16%;
    width: 14.773%;
}
.feature-absulote-image-2 {
    position: absolute;
    top: -45%;
    left: -13.2%;
    width: 32.046%;
    z-index: -1;
}
/* Feature Area End */

/* About Area Start */
.about-list::before{
    content: "\f00c";
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    margin-right: 15px;
    color: #fad126;
    font-size: 16px;
}
.about-absulote-img-1 {
    position: absolute;
    top: 5%;
    right: -25%;
    width: 29.621%;
}
.about-absulote-img-2{
    position: absolute;
    top: 20%;
    right: -23%;
    width: 29.621%;
}
/* About Area End */

/* Counter Area Start */
.counter-area{
    background: #eef0f4;
}
.single-counter{
    padding: 75px 0;
}
.counter-number{
    background: linear-gradient(to right, #fad126, #ff544f);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    
}
/* Counter Area End */

/* Service Area */
.single-service{
    box-shadow: 0px 0px 53px -40px #5b5656b8;
    padding: 180px 35px 110px;
    transition: 0.5s;
    margin-bottom: 90px;
}
.single-service:hover{
    background-color: #2a6dfc;
}
.single-service:hover *{
    color: #fff;
    transition: 0.5s;
}
.service-icon{
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -60px;
    margin-top: -60px;
}
.service-icon img {
    background: #edeff3;
    padding: 39px;
    border-radius: 50%;
}
/* Service Area */
